curl -X POST 'http://admin:admin@192.168.0.16:8080/credentials/store/system/domain/_/createCredentials' \
--data-urlencode 'json={
"": "0",
"credentials": {
  "scope": "GLOBAL",
  "id": "identification31",
  "username": {{username}},
  "password": {{password}},
  "description": "linda",
  "$class": "com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl"
}
}'
