
jenkins
  url: 'http://192.168.0.20:8081'
  user: {{jenkins_admin_username}}
  password: {{jenkins_admin_password}}

sonar
  url: 'http://192.168.0.27:8081'
  user: {{jenkins_admin_username}}
  password: {{jenkins_admin_password}}
