<?xml version='1.0' encoding='UTF-8'?> 
<org.jenkinsci.plugins.ghprb.GhprbTrigger_-DescriptorImpl plugin="ghprb@1.36.2"> 
  <configVersion>1</configVersion>  
  <whitelistPhrase>.*add\W+to\W+whitelist.*</whitelistPhrase>  
  <okToTestPhrase>.*ok\W+to\W+test.*</okToTestPhrase> 
  <retestPhrase>.*test\W+this\W+please.*</retestPhrase> 
  <skipBuildPhrase>.*\[skip\W+ci\].*</skipBuildPhrase>  
  <cron>H/5 * * * *</cron>  
  <useComments>false</useComments>  
  <useDetailedComments>false</useDetailedComments> 
  <manageWebhooks>true</manageWebhooks>  
  <unstableAs>FAILURE</unstableAs> 
  <autoCloseFailedPullRequests>false</autoCloseFailedPullRequests>  
  <displayBuildErrorsOnDownstreamBuilds>false</displayBuildErrorsOnDownstreamBuilds> 
  <blackListLabels></blackListLabels> 
  <whiteListLabels></whiteListLabels>  
  <githubAuth>   
    <org.jenkinsci.plugins.ghprb.GhprbGitHubAuth>      
    <serverAPIUrl>{{serverAPIUrl}}</serverAPIUrl>     
    <jenkinsUrl>{{jenkinsUrl}}</jenkinsUrl>      
    <credentialsId>{{credentialsId}}</credentialsId>      
    <id>{{id}}</id>     
    <description>{{description}}</description>     
    <secret>{{secret}}</secret>    
  </org.jenkinsci.plugins.ghprb.GhprbGitHubAuth> 
  </githubAuth> 
  <adminlist></adminlist> 
  <requestForTestingPhrase>Can one of the admins verify this patch?</requestForTestingPhrase>  
  <extensions>    
    <org.jenkinsci.plugins.ghprb.extensions.status.GhprbSimpleStatus>      
     <commitStatusContext></commitStatusContext>      
     <triggeredStatus></triggeredStatus>      
     <startedStatus></startedStatus>     
     <statusUrl></statusUrl>     
     <addTestResults>false</addTestResults>   
   </org.jenkinsci.plugins.ghprb.extensions.status.GhprbSimpleStatus> 
  </extensions>
